* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u2_original.png");
}

* html .u5_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u22_original.png");
}

* html .u8_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modificar_departamento_files/u8_original.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modificar_departamento_files/u12_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modificar_departamento_files/u12_original.png");
}

