* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u2_original.png");
}

* html .u5_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u5_original.png");
}

* html .u7_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u7_original.png");
}

* html .u9_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u9_hover.png");
}

* html .u9_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u9_original.png");
}

* html .u11_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u9_hover.png");
}

* html .u11_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u11_original.png");
}

* html .u13_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u9_hover.png");
}

* html .u13_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u9_original.png");
}

* html .u15_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u9_hover.png");
}

* html .u15_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u11_original.png");
}

* html .u17_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u17_line.png");
}

* html .u18_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u18_line.png");
}

* html .u19_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u19_line.png");
}

* html .u20_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="detalle_llamadas_por_departamento_files/u20_line.png");
}

* html .u21_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u22_original.png");
}

* html .u27_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="buscar_files/u46_original.png");
}

