body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../footer_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:576px;
    width:1024px;
    height:34px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:40px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:1020px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:576px;
    width:1024px;
    height:34px
}

.u2_original {
    background-image: url('../footer_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:683px;
    top:587px;
    width:38px;
    height:10px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:10px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-3px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:683px;
    top:587px;
    width:38px;
    height:10px
}

.u5_original {
    background-image: url('../detalle_llamadas_por_departamento_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:48px;
    top:126px;
    width:151px;
    height:55px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:55px;
}

.u6 {
    position:absolute;
    left:2px;
    top:20px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:48px;
    top:126px;
    width:151px;
    height:55px
}

.u7_original {
    background-image: url('../detalle_llamadas_por_departamento_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:44px;
    top:238px;
    width:937px;
    height:33px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:937px;
    height:33px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:933px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:44px;
    top:238px;
    width:937px;
    height:33px
}

.u9_hover {
    background-image: url('../detalle_llamadas_por_departamento_files/u9_hover.png');
}

.u9_original {
    background-image: url('../detalle_llamadas_por_departamento_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:42px;
    top:270px;
    width:938px;
    height:51px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:938px;
    height:51px;
}

.u10 {
    position:absolute;
    left:2px;
    top:18px;
    width:934px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:42px;
    top:270px;
    width:938px;
    height:51px
}

.u11_hover {
    background-image: url('../detalle_llamadas_por_departamento_files/u9_hover.png');
}

.u11_original {
    background-image: url('../detalle_llamadas_por_departamento_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:41px;
    top:322px;
    width:938px;
    height:51px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:938px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:18px;
    width:934px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:41px;
    top:322px;
    width:938px;
    height:51px
}

.u13_hover {
    background-image: url('../detalle_llamadas_por_departamento_files/u9_hover.png');
}

.u13_original {
    background-image: url('../detalle_llamadas_por_departamento_files/u9_original.png');
}

.u13_container {
    position:absolute;
    left:42px;
    top:374px;
    width:938px;
    height:51px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:938px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:18px;
    width:934px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:42px;
    top:374px;
    width:938px;
    height:51px
}

.u15_hover {
    background-image: url('../detalle_llamadas_por_departamento_files/u9_hover.png');
}

.u15_original {
    background-image: url('../detalle_llamadas_por_departamento_files/u11_original.png');
}

.u15_container {
    position:absolute;
    left:41px;
    top:426px;
    width:938px;
    height:51px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:938px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:18px;
    width:934px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:41px;
    top:426px;
    width:938px;
    height:51px
}

.u17_line {
    background-image: url('../detalle_llamadas_por_departamento_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:41px;
    top:321px;
    width:935px;
    height:3px;
}

.u17 {
    position:absolute;
    left:41px;
    top:321px;
    width:935px;
    height:3px
}

.u18_line {
    background-image: url('../detalle_llamadas_por_departamento_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:41px;
    top:371px;
    width:935px;
    height:3px;
}

.u18 {
    position:absolute;
    left:41px;
    top:371px;
    width:935px;
    height:3px
}

.u19_line {
    background-image: url('../detalle_llamadas_por_departamento_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:41px;
    top:426px;
    width:935px;
    height:3px;
}

.u19 {
    position:absolute;
    left:41px;
    top:426px;
    width:935px;
    height:3px
}

.u20_line {
    background-image: url('../detalle_llamadas_por_departamento_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:41px;
    top:474px;
    width:935px;
    height:3px;
}

.u20 {
    position:absolute;
    left:41px;
    top:474px;
    width:935px;
    height:3px
}

.u21_original {
    background-image: url('../header_files/u22_original.png');
}

.u21_container {
    position:absolute;
    left:34px;
    top:-8px;
    width:351px;
    height:89px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:351px;
    height:89px;
}

.u22 {
    position:absolute;
    left:2px;
    top:36px;
    width:347px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:34px;
    top:-8px;
    width:351px;
    height:89px
}

.u24 {
    position:absolute;
    left:50px;
    top:204px;
    width:270px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:680px;
    top:150px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:730px;
    top:145px;
    width:140px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Tw Cen MT';
    font-size: 13px;
    color:#949494;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_original {
    background-image: url('../buscar_files/u46_original.png');
}

.u27_container {
    position:absolute;
    left:870px;
    top:145px;
    width:80px;
    height:25px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:31px;
}

.u28 {
    position:absolute;
    left:2px;
    top:4px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:870px;
    top:145px;
    width:80px;
    height:25px
}

.u30 {
    position:absolute;
    left:402px;
    top:495px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

