body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../footer_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:576px;
    width:1024px;
    height:34px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:40px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:1020px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:576px;
    width:1024px;
    height:34px
}

.u2_original {
    background-image: url('../footer_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:683px;
    top:587px;
    width:38px;
    height:10px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:10px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-3px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:683px;
    top:587px;
    width:38px;
    height:10px
}

.u5_original {
    background-image: url('../historial_de_llamadas_por_numero_de_origen_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:48px;
    top:126px;
    width:151px;
    height:55px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:55px;
}

.u6 {
    position:absolute;
    left:2px;
    top:20px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:48px;
    top:126px;
    width:151px;
    height:55px
}

.u7_original {
    background-image: url('../header_files/u22_original.png');
}

.u7_container {
    position:absolute;
    left:34px;
    top:-8px;
    width:351px;
    height:89px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:351px;
    height:89px;
}

.u8 {
    position:absolute;
    left:2px;
    top:36px;
    width:347px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:34px;
    top:-8px;
    width:351px;
    height:89px
}

.u10 {
    position:absolute;
    left:50px;
    top:204px;
    width:310px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:50px;
    top:285px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:50px;
    top:320px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:188px;
    top:284px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15_original {
    background-image: url('../historial_de_llamadas_por_numero_de_origen_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:189px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:189px;
}

.u16 {
    position:absolute;
    left:2px;
    top:86px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:189px
}

.u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_original {
    background-image: url('../historial_de_llamadas_por_numero_de_origen_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:188px;
    top:429px;
    width:103px;
    height:26px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:32px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:99px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:188px;
    top:429px;
    width:103px;
    height:26px
}

.u21 {
    position:absolute;
    left:50px;
    top:251px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:50px;
    top:359px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:188px;
    top:355px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25_original {
    background-image: url('../historial_de_llamadas_por_numero_de_origen_files/u15_original.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:189px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:189px;
}

.u26 {
    position:absolute;
    left:2px;
    top:86px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:189px
}

.u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:50px;
    top:392px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:188px;
    top:250px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:190px;
    top:321px;
    width:50px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:255px;
    top:321px;
    width:50px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:244px;
    top:321px;
    width:7px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:320px;
    top:321px;
    width:50px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:309px;
    top:321px;
    width:7px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:190px;
    top:388px;
    width:50px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:255px;
    top:388px;
    width:50px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:244px;
    top:388px;
    width:7px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:320px;
    top:388px;
    width:50px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:309px;
    top:388px;
    width:7px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

