* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u2_original.png");
}

* html .u5_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="historia_de_llamadas_por_extensi贸n_files/u5_original.png");
}

* html .u7_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u22_original.png");
}

* html .u15_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="historia_de_llamadas_por_extensi贸n_files/u15_original.png");
}

* html .u19_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="historia_de_llamadas_por_extensi贸n_files/u19_original.png");
}

* html .u25_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="historia_de_llamadas_por_extensi贸n_files/u15_original.png");
}

