body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../footer_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:570px;
    width:1024px;
    height:34px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:40px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:1020px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:570px;
    width:1024px;
    height:34px
}

.u2_original {
    background-image: url('../footer_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:683px;
    top:581px;
    width:38px;
    height:10px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:10px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-3px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:683px;
    top:581px;
    width:38px;
    height:10px
}

.u5_original {
    background-image: url('../header_files/u22_original.png');
}

.u5_container {
    position:absolute;
    left:34px;
    top:0px;
    width:351px;
    height:89px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:351px;
    height:89px;
}

.u6 {
    position:absolute;
    left:2px;
    top:36px;
    width:347px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:34px;
    top:0px;
    width:351px;
    height:89px
}

.u8_original {
    background-image: url('../agregar_usuario_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:48px;
    top:126px;
    width:122px;
    height:52px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:122px;
    height:52px;
}

.u9 {
    position:absolute;
    left:2px;
    top:18px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:48px;
    top:126px;
    width:122px;
    height:52px
}

.u10 {
    position:absolute;
    left:40px;
    top:204px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:210px;
    top:200px;
    width:260px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Tw Cen MT';
    font-size: 13px;
    color:#949494;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_original {
    background-image: url('../agregar_usuario_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:40px;
    top:341px;
    width:103px;
    height:26px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:32px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:99px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:40px;
    top:341px;
    width:103px;
    height:26px
}

.u14_original {
    background-image: url('../agregar_usuario_files/u12_original.png');
}

.u14_container {
    position:absolute;
    left:157px;
    top:341px;
    width:103px;
    height:26px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:32px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:99px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:157px;
    top:341px;
    width:103px;
    height:26px
}

.u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:40px;
    top:232px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:210px;
    top:232px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Tw Cen MT';
    font-size: 13px;
    color:#949494;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:40px;
    top:266px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:210px;
    top:262px;
    width:260px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Tw Cen MT';
    font-size: 13px;
    color:#949494;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:40px;
    top:295px;
    width:160px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

