body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../footer_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:34px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:40px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:1020px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:34px
}

.u2_original {
    background-image: url('../footer_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:683px;
    top:11px;
    width:38px;
    height:10px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:10px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-3px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:683px;
    top:11px;
    width:38px;
    height:10px
}

